.banner {
  background-image: url('https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8dGVjaG5vbG9neXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60');
  color: white;
  margin: 0 auto;
  padding: 20px 40px;
}

.banner p {
  color: grey;
}

.banner a {
  color:rgb(255, 255, 255);
  font-weight: bold ;
  background-color: rgb(86, 216, 91);
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.5s;
  display: inline-block;
}

.banner a:hover {
  background-color: rgb(41, 164, 45);
}
